
header {
    margin: 20px;
    margin-bottom: none;
}

h4 {
    background-color: rgb(30, 187, 77);
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: whitesmoke;
    font-size: 24px;
    padding: 3px;
    text-indent: 14px;
}

ul li {
    text-align: right;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: x-small;
}

h2 {
    color: rgb(30, 187, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 0px;
}

article {
    background-color: rgb(204, 179, 179);
    margin: 30px;
}

img {
    height: 325px;
    width: 250px;
}

div2 {
    background-color: rgb(204, 179, 179);
}

footer {
    background-color: rgb(53, 50, 49);
    font-weight: 600;
    font-variant: small-caps;
    font-size: medium;
    color: white;
    text-align: center;
}

