body {
    background-color: lavender;
}

header {
    padding: 20px;
    background-color: whitesmoke;
    margin-left: none;
    margin-right: none;
}

h4 {
    background-color: rgb(30, 187, 77);
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: whitesmoke;
    font-size: 24px;
    padding: 15px;
    text-indent: 14px;
}

ul li {
    text-align: right;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: x-small;
}

section {
    padding: 15px;
}

h2 {
    color: rgb(30, 187, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

article {
    background-color: whitesmoke;
    border-style: groove;
    border-color: rgb(162, 153, 170, .5);
    margin: 30px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(44, 40, 40, .8)
}

img {
    height: 300px;
    width: 225px;
    padding: 15px;
}


footer {
    background-color: rgb(53, 50, 49);
    font-weight: 600;
    font-variant: small-caps;
    font-size: medium;
    color: whitesmoke;
    text-align: center;
}

