body {
    background-color: lavender;
}

header {
    padding: 20px;
    background-color: whitesmoke;
    margin-left: none;
    margin-right: none;
}

h4 {
    background-color: rgb(30, 187, 77);
    border-radius: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: whitesmoke;
    font-size: x-large;
    padding: 15px;
}

ul li {
    text-align: right;
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-variant: small-caps;
}

h2 {
    color: rgb(30, 187, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 15px;
}

form {
    margin-top: none;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-style: outset;
    background-color: rgb(162, 153, 170, .5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(44, 40, 40, .8);
}

#picture-linked, #picture-git {
    height: 60px;
    width: 60px;
    padding: 15px;
  }
  
  #picture-html, #picture-css, #picture-java, #picture-node, #picture-mongo, #picture-react {
    height: 60px;
    width: 60px;
    padding: 10px;
  }

footer {
    background-color: rgb(99, 94, 92);
    box-shadow: 0 50vh 0 50vh rgb(99, 94, 92);
    font-weight: 600;
    font-variant: small-caps;
    font-size: smaller;
    color: whitesmoke;
    text-align: center;
    margin-left: none;
    margin-right: none;
}

