body {
  background-image: url("../Images/bike\ sunset\ cliffs.jpeg");
  background-color: #cccccc;
  background-size: cover;
}

header {
  padding: 20px;
  background-color: whitesmoke;
  margin-left: none;
  margin-right: none;
}

h4 {
  background-color: rgb(30, 187, 77);
  border-radius: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: whitesmoke;
  font-size: x-large;
  padding: 15px;
}

ul li {
  text-align: right;
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-variant: small-caps;
}

/* h2 {
  color: rgb(250, 241, 234);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  padding: 15px;
}

.card-img-top {
  height: 200px;
}

.card-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
} */

.goGo {
  float: none;
  display: inline-block;
  zoom: 1;
  /* width: 0px; */
  /* margin: auto; */
  text-align: center;
  padding: 10px;
}
/* a {
  color: rgb(99, 117, 216);
  font-weight: 525;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

#picture-linked,
#picture-git,
#picture-res {
  height: 60px;
  width: 60px;
  padding: 15px;
}

#picture-html,
#picture-css,
#picture-java,
#picture-node,
#picture-mongo,
#picture-react {
  height: 60px;
  width: 60px;
  padding: 10px;
}

footer {
  background-color: rgb(99, 94, 92);
  box-shadow: 0 50vh 0 50vh rgb(99, 94, 92);
  font-weight: 600;
  font-variant: small-caps;
  font-size: smaller;
  color: whitesmoke;
  text-align: center;
  margin-left: none;
  margin-right: none;
}
